.idea
dbdata/
certs/
.composer-cache
html/
temp
*.log
*.orig
bedrock/web/app/themes/siteorigin-unwind-1.4.6/header.php
certbot-etc/
plugins/
uploads/
wordpress/
wp-content/themes/twentynineteen/
wp-content/themes/twentyseventeen/
wp-content/themes/twentysixteen/
wp-content/themes/twentytwenty/
wp-content/themes/siteorigin-unwind/header.php
wp-content/cache/
node_modules
wp-content/themes/fictional-university/style.css
wp-content/themes/fictional-university/scripts-bundled.js